# We only need to change this if we're loading the schema from outside this project (unlikely)
# SCHEMA_PATH=""


# Development environment
GRAPH_URL="https://intellicomfort-development.yoursysteminfo.com/"
WEB_HOST="intellicomfort-development.yoursysteminfo.com"
URI_SCHEME="intellicomfort"

# Production environment
# GRAPH_URL="https://intellicomfort.yoursysteminfo.com/"
# WEB_HOST="intellicomfort.yoursysteminfo.com"
# URI_SCHEME="intellicomfort"