# We only need to change this if we're loading the schema from outside this project (unlikely)
# SCHEMA_PATH=""

# If you want to run on device (or in the Android emulator) we need the computer's physical address, e.g. what you see in ifconfig en0
GRAPH_URL="https://intellicomfort.kraftful.cloud/"
# Android can't resolve localhost
# GRAPH_URL="http://10.0.2.2:3000/"